<li>
    <a href="{{ product.url }}" class="group block overflow-hidden">
        {% if product.featured_image %}
            <img
              src="{{ product.featured_image | img_url: 'medium' }}"
              alt="{{ product.featured_image.alt }}"
              class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
            />
        {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]' }}
        {% endif %}
        <div class="relative bg-white pt-3">
            <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                {{ product.title }}
            </h3>
            <p class="mt-2">
                <span class="sr-only"> Regular Price </span>
                <span class="tracking-wider text-gray-900">{{ product.price | money }}</span>
            </p>
        </div>
    </a>
</li>