<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="mx-auto max-w-3xl">
        <header class="text-center">
          <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h1>
        </header>

        {% if cart.item_count > 0 %}
            <form action={{ routes.cart_url }} method="POST" novalidate>
                <div class="mt-8">
                    <ul class="space-y-4">
                        {% for item in cart.items %}
                            <li class="flex items-center gap-4">
                                <a href="{{ item.url }}">
                                    {% if item.image %}
                                        <img src="{{ item.image | img_url: 'small' }}" alt="{{ item.title | escape }}" class="h-16 w-16 rounded object-cover" />
                                    {% else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'h-16 w-16 rounded object-cover' }}
                                    {% endif %}
                                </a>
                
                            <div>
                                <h3 class="text-sm text-gray-900">{{ item.product.title }}</h3>
                
                                <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                                <div>
                                    <dt class="inline">Size:</dt>
                                    <dd class="inline">{{ item.variant.option2 }}</dd>
                                </div>
                
                                <div>
                                    <dt class="inline">Color:</dt>
                                    <dd class="inline">{{ item.variant.option1 }}</dd>
                                </div>
                                </dl>
                            </div>
                            
                            <div class="flex flex-1 items-center justify-end gap-2">
                                <div>
                                <label for="updates_{{ forloop.index }}" class="sr-only"> Quantity </label>
                
                                <input
                                    name="updates[]"
                                    type="number"
                                    min="1"
                                    value="{{ item.quantity }}"
                                    id="updates_{{ forloop.index }}"
                                    class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 focus:outline-none"
                                />
                                </div>
                
                                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="text-gray-600 transition hover:text-red-600">
                                <span class="sr-only">Remove item</span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-4 w-4"
                                >
                                    <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                    />
                                </svg>
                                </a>
                            </div>

                            <div class="flex flex-2 items-center justify-end gap-2">
                                <div>
                                    <dt class="inline">Price:</dt>
                                    <dd class="inline">{{ item.line_price | money }}</dd>
                                </div>
                            </div>
                            </li>
                        {% endfor %}
                    </ul>
          
                    <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
                        <div class="w-screen max-w-lg space-y-4">
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'subtotal' %}
                                        <dl class="space-y-0.5 text-sm text-gray-700">
                                            <div class="flex justify-between !text-base font-medium">
                                                <dt>Subtotal</dt>
                                                <dd>{{ cart.total_price | money }}</dd>
                                            </div>
                                        </dl>
                                    {% when 'update_button' %}
                                        <div class="flex justify-end gap-4">
                                            <button
                                                type="submit"
                                                name="update"
                                                class="block rounded bg-gray-100 px-5 py-3 text-sm text-gray-700 transition hover:bg-gray-600 hover:text-gray-100"
                                            >
                                                Update
                                            </button>
                                        </div>
                                    {% when 'checkout_button' %}
                                        <div class="flex justify-end gap-4">
                                            <button
                                                type="submit"
                                                name="checkout"
                                                class="block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600"
                                            >
                                                Checkout
                                            </button>
                                        </div>
                                    {% else %}
                                {% endcase %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
                <div class="mt-8">
                    <div class="text-center space-y-4">
                        <p>Yout cart is empty</p>
                        <div class="flex justify-center">
                            <a
                                href="{{ routes.all_products_collection_url }}"
                                class="block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600"
                            >
                                Continue shopping
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
      </div>
    </div>
  </section>

{% schema %}
{
    "name": "Template Cart",
    "blocks": [
        {
            "type": "subtotal",
            "name": "Subtotal",
            "limit": 1
        },
        {
            "type": "update_button",
            "name": "Update button",
            "limit": 1
        },
        {
            "type": "checkout_button",
            "name": "Checkout button",
            "limit": 1
        }
    ]
}
{% endschema %}